<h1>Edit Movie</h1>

<%= form_tag "/movies/#{@movie.id}", :method => "patch" do %>
  <input name="secret" value="123" type="hidden">

  <p><label>Title:</label><input value="<%= @movie.title %>" type="text" name="title" size="60"></p>

  <p><label>Year:</label><input value="<%= @movie.year %>" type="text" name="year" size="5"></p>
  <p>
    <input type="submit" value="Update This Movie">
    or
    <a href="/movies">Cancel</a>
  </p>
<% end %>
