<h1>Movies</h1>

<!-- WARM-UP CHALLENGE #1: -->
<!-- Add a link here to the "Add a New Movie" page. -->
<!-- Hint: the url to the "Add a New Movie" page is /movies/new -->




<!-- WARM-UP CHALLENGE #2: -->
<!-- Display the list of movies in alphabetical order. -->
<ul>
  <% @movies.each_with_index do |movie, index| %>
    <li>
      <%= link_to movie, "/movies/show?id=#{index}"  %>
    </li>
  <% end %>
</ul>
