<h1>Movies</h1>

<!-- WARM-UP CHALLENGE #1: -->
<!-- Add a link here to the "Add a New Movie" page. -->
<!-- Hint: the url to the "Add a New Movie" page is /movies/new -->
<%= link_to "Add a New Movie", "/movies/new" %>


<!-- WARM-UP CHALLENGE #2: -->
<!-- Display the list of movies in alphabetical order. -->
<ul>
  <% @movies.each do |movie| %>
    <li>
      <%= link_to movie.title, "/movies/#{movie.id}"  %>
    </li>
  <% end %>
</ul>
