<h1>Movies</h1>

<%= link_to "Add a New Movie", "/movies/new" %>

<ul>
  <% @movies.each do |movie| %>
    <li>
      <%= link_to movie.title, "/movies/#{movie.id}"  %>
      <%= link_to "Edit", "/movies/#{movie.id}/edit" %>
    </li>
  <% end %>
</ul>
