<% movies = ['Lincoln', 'Apollo 13', 'Star Wars', 'Raiders of the Lost Ark'] %>

<h1>Movies</h1>

<ul>
  <li>Lincoln</li>
  <li>Apollo 13</li>
  <li>Star Wars</li>
  <li>Raiders of the Lost Ark</li>
</ul>
