<h1>Add a New Movie</h1>

<!-- <form action="/movies" method="post"> -->

<%= form_tag "/movies" do %>
  <input name="secret" value="123" type="hidden">

  <p><label>Title:</label><input type="text" name="title" size="60"></p>

  <p><label>Year:</label><input type="text" name="published" size="5"></p>
  <p>
    <input type="submit" value="Add This Movie">
    or
    <a href="/movies">Cancel</a>
  </p>
<% end %>
<!-- </form> -->
