<h1>Add a New Movie</h1>

<form action="#">
  <p><label>Title:</label><input type="text" name="title" size="60"></p>

  <p><label>Year:</label><input type="text" name="year" size="5"></p>
  <p>
    <input type="submit" value="Add This Movie">
    or
    <a href="/movies">Cancel</a>
  </p>
</form>
