<h1><%= @title %></h1>

<%= params["id"] %>

<p>
  <!-- Convert this link to a link_to method call instead -->
  <!-- <a href="/movies">Home</a> -->
  <%= link_to "Home", "/movies" %>
</p>

<img src="/assets/apollo_13.jpg" width="200">

<p><strong>Year:</strong> 1995</p>

<p><strong>Director:</strong> Ron Howard</p>



